* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F4F8;
}

/* navbar */

.navbar {
  background-color: #FFFFFF !important;
}

.nav-item a {
  color: #19113C !important;
  font-size: 14px;
}

.nav-account div {
  background-color: #F5F4F8;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.nav-account img {
  width: 40px;
  border-radius: 50%;
}

/* hero */

.hero-section {
  background-color: #7550FE !important;
}

@media (max-width: 767px) {
  .hero-section div {
      padding: 40px 40px 0 40px;
      display: flex;
      justify-content: center;
  }

.hdiv1 {
    flex-direction: column;
  }

  .hdiv1 button {
    width: 180px;
    margin: auto;
  }
}

.hdiv1 {
  padding: 40px 100px 40px 100px;
}

.hdiv1 button {
  width: 180px;
}

.hdiv2 img {
  max-width: 100%;
}

.hero-section div h1 {
  color: white !important;
}

.hero-section div p {
  color: rgb(200, 200, 200);
}

#btn-hero-first {
  background-color: #19CB97;
}

/* sub-hero */

#sub-hero {
  background-color: #FFFFFF !important;
  box-shadow: 0 0 1px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.sub-hero-class {
  padding: 20px;
  margin: 0;
}

.sub-hero-class div {
  background-color: #FFEEDA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 10px;
}

.sub-hero-class .sh-icon {
  color: #C9873C;
}

.sub-hero-text {
  margin-bottom: 0 !important;
}

/* carousel */

.class_style_carousel {
  margin-bottom: 100px !important;
}

.carousel-title {
  text-align: start;
  margin-bottom: 25px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

.card {
  margin: 0 15px 0 15px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.10);
}

.carousel-inner {
  height: 400px;
  padding-top: 20px;
  bottom: -20px;
}

.carousel-control-prev {
  background-color: #cacaca7a !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  top: 150px !important;
  left: -50px !important;
  opacity: 1 !important;
}

.carousel-control-next {
  background-color: #cacaca7a !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  top: 150px !important;
  right: -50px !important;
  opacity: 1 !important;
}

@media (max-width: 767px) {
  .carousel-control-prev{
    left: -10px !important;
  }
  .carousel-control-next{
    right: -10px !important;
  }
}

/* footer */

#footer {
  border-top: 1px solid rgb(150, 150, 150) !important;
  padding: 15px 0 15px 0;
}

.footer1 {
  text-align: center;
}

.footer2 {
  text-align: center;
}

.footer1 p {
  color: rgb(150, 150, 150);
}

.footer2 a {
  color: rgb(150, 150, 150);
  padding-right: 5px;
}